In [1]:
import pandas as pd
pf=pd.read_csv("Downloads\ipl2017.csv")

In [2]:
pf

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76009,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,121,7,19.2,40,0,40,12,129
76010,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,127,7,19.3,46,0,46,12,129
76011,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,128,7,19.4,47,0,47,12,129
76012,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,MG Johnson,DT Christian,129,7,19.5,48,0,47,13,129
76013,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,129,8,19.6,47,1,47,13,129

In [3]:
pf=pf.drop(["mid","date","batsman","bowler"],axis=1)

In [4]:
df=pd.DataFrame(pf)

In [5]:
df

,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,0,0,222
1,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,0,0,222
2,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,0,0,222
3,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,0,0,222
4,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,0,0,222
...,...,...,...,...,...,...,...,...,...,...,...
76009,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,121,7,19.2,40,0,40,12,129
76010,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,127,7,19.3,46,0,46,12,129
76011,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,128,7,19.4,47,0,47,12,129
76012,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,129,7,19.5,48,0,47,13,129
76013,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,129,8,19.6,47,1,47,13,129

In [6]:
from sklearn.preprocessing import OneHotEncoder

In [7]:
ohc=OneHotEncoder()
temp_df=pd.DataFrame(ohc.fit_transform(pf[["bat_team"]]).toarray())
df=pd.concat([df,temp_df],axis =1,sort=False)

In [8]:
temp_df=pd.DataFrame(ohc.fit_transform(pf[["bowl_team"]]).toarray())
df=pd.concat([df,temp_df],axis =1,sort=False)

In [9]:
df

,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,...,4,5,6,7,8,9,10,11,12,13
0,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76009,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,121,7,19.2,40,0,40,12,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
76010,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,127,7,19.3,46,0,46,12,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
76011,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,128,7,19.4,47,0,47,12,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
76012,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,129,7,19.5,48,0,47,13,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
76013,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,129,8,19.6,47,1,47,13,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [10]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [11]:
df['venue']=le.fit_transform(pf["venue"])
df['bowl_team']=le.fit_transform(pf["bowl_team"])
df['bat_team']=le.fit_transform(pf["bat_team"])

In [12]:
df

,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,...,4,5,6,7,8,9,10,11,12,13
0,14,6,12,1,0,0.1,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,14,6,12,1,0,0.2,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,14,6,12,2,0,0.2,2,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,14,6,12,2,0,0.3,2,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,14,6,12,2,0,0.4,2,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76009,23,7,10,121,7,19.2,40,0,40,12,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
76010,23,7,10,127,7,19.3,46,0,46,12,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
76011,23,7,10,128,7,19.4,47,0,47,12,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
76012,23,7,10,129,7,19.5,48,0,47,13,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
76013,23,7,10,129,8,19.6,47,1,47,13,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76014 entries, 0 to 76013
Data columns (total 39 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   venue           76014 non-null  int32
 1   bat_team        76014 non-null  int32
 2   bowl_team       76014 non-null  int32
 3   runs            76014 non-null  int64
 4   wickets         76014 non-null  int64
 5   overs           76014 non-null  float64
 6   runs_last_5     76014 non-null  int64
 7   wickets_last_5  76014 non-null  int64
 8   striker         76014 non-null  int64
 9   non-striker     76014 non-null  int64
 10  total           76014 non-null  int64
 11  0               76014 non-null  float64
 12  1               76014 non-null  float64
 13  2               76014 non-null  float64
 14  3               76014 non-null  float64
 15  4               76014 non-null  float64
 16  5               76014 non-null  float64
 17  6               76014 non-null  float64
 18  7               76014 non-null  float64
 19  8               76014 non-null  float64
 20  9               76014 non-null  float64
 21  10              76014 non-null  float64
 22  11              76014 non-null  float64
 23  12              76014 non-null  float64
 24  13              76014 non-null  float64
 25  0               76014 non-null  float64
 26  1               76014 non-null  float64
 27  2               76014 non-null  float64
 28  3               76014 non-null  float64
 29  4               76014 non-null  float64
 30  5               76014 non-null  float64
 31  6               76014 non-null  float64
 32  7               76014 non-null  float64
 33  8               76014 non-null  float64
 34  9               76014 non-null  float64
 35  10              76014 non-null  float64
 36  11              76014 non-null  float64
 37  12              76014 non-null  float64
 38  13              76014 non-null  float64
dtypes: float64(29), int32(3), int64(7)
memory usage: 21.7 MB

In [14]:
df.columns

Index([         'venue',       'bat_team',      'bowl_team',           'runs',
              'wickets',          'overs',    'runs_last_5', 'wickets_last_5',
              'striker',    'non-striker',          'total',                0,
                      1,                2,                3,                4,
                      5,                6,                7,                8,
                      9,               10,               11,               12,
                     13,                0,                1,                2,
                      3,                4,                5,                6,
                      7,                8,                9,               10,
                     11,               12,               13],
      dtype='object')

In [15]:
X=df[[         'venue',       'bat_team',      'bowl_team',           'runs',
              'wickets',          'overs',    'runs_last_5', 'wickets_last_5',
              'striker',    'non-striker',                  0,
                      1,                2,                3,                4,
                      5,                6,                7,                8,
                      9,               10,               11,               12,
                     13,                0,                1,                2,
                      3,                4,                5,                6,
                      7,                8,                9,               10,
                     11,               12,               13]].values

In [16]:
Y=df['total'].values

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.25,stratify = Y)

In [19]:
X_train

array([[34.,  4.,  7., ...,  0.,  0.,  0.],
       [10.,  4.,  1., ...,  0.,  0.,  0.],
       [14., 12.,  4., ...,  0.,  0.,  0.],
       ...,
       [14., 12.,  2., ...,  0.,  0.,  0.],
       [ 8.,  4.,  2., ...,  0.,  0.,  0.],
       [ 7., 12.,  6., ...,  0.,  0.,  0.]])

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [22]:
X_train,X_test

(array([[ 1.71654136, -0.46924562,  0.23709291, ..., -0.38064953,
         -0.26941471, -0.22166433],
        [-0.78564058, -0.46924562, -1.27627739, ..., -0.38064953,
         -0.26941471, -0.22166433],
        [-0.36861026,  1.47207876, -0.51959224, ..., -0.38064953,
         -0.26941471, -0.22166433],
        ...,
        [-0.36861026,  1.47207876, -1.02404901, ..., -0.38064953,
         -0.26941471, -0.22166433],
        [-0.99415575, -0.46924562, -1.02404901, ..., -0.38064953,
         -0.26941471, -0.22166433],
        [-1.09841333,  1.47207876, -0.01513547, ..., -0.38064953,
         -0.26941471, -0.22166433]]),
 array([[ 0.46545039, -0.46924562,  0.23709291, ..., -0.38064953,
         -0.26941471, -0.22166433],
        [-0.99415575, -0.95457671,  0.74154968, ..., -0.38064953,
         -0.26941471, -0.22166433],
        [-1.09841333, -0.46924562, -0.01513547, ..., -0.38064953,
         -0.26941471, -0.22166433],
        ...,
        [-0.26435268, -1.4399078 , -0.01513547, ..., -0.38064953,
         -0.26941471, -0.22166433],
        [-0.99415575,  1.7147443 ,  0.74154968, ..., -0.38064953,
          3.7117498 , -0.22166433],
        [ 1.71654136,  1.47207876,  0.23709291, ..., -0.38064953,
         -0.26941471, -0.22166433]]))

In [23]:
X_train.shape

(57010, 66)

In [24]:
from sklearn.ensemble import RandomForestRegressor

In [25]:
model=RandomForestRegressor()

In [26]:
model.fit(X_train,Y_train)

RandomForestRegressor()

In [27]:
print(model.score(X_test,Y_test))

0.9375231832191564